@using BlazorApp.PetHotel.Data

<div class="row">
  <div class="col-2">
    Please select:
  </div>
  <div class="col-6 pl-0 pr-0">
    <select class="form-control" @onchange="@((ChangeEventArgs e) => AnimalSelected(e.Value))">
      @foreach (AnimalKind kind in Enum.GetValues(typeof(AnimalKind)))
      {
        <option value="@kind">@kind.ToString()</option>
      }
    </select>
  </div>
</div>

@if (Metadata is not null)
{
  <div class="mt-2">
    <DynamicComponent Type="@Metadata.Type" Parameters="@Metadata.Parameters" />
  </div>
}

@code {
  ComponentMetadata? Metadata;

  private void AnimalSelected(object? value)
  {
    string? val = value?.ToString();
    if (Enum.TryParse<AnimalKind>(val, out AnimalKind kind))
    {
      Metadata = kind.ToMetadata();
    }
  }
}